<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <!-- <li class="header text-uppercase"> -->
        <%#= t "sidebars.sections.online.title" %>
      <!-- </li> -->
      <li>
        <%= link_to "test", "#" %>
      </li>
    </ul>
  </section>
</aside>
